@use '../abstracts/' as *;

// Base styles for the application
html, body {
  margin: 0;
  padding: 0;
}

body {
   font-family: "Helvetica", sans-serif;
   font-size: 1rem;
   font-weight: 300;
   letter-spacing: 0.1rem;
}