// Dark Theme Colors
$primary-surface-color: #31322B;
$secondary-surface-color: #1E201E;
$contrast-surface-color: #A71836;
$nav-bar-bg-color: #52105C;
$primary-color: #697565;
$secondary-color: #A2A39C;
$accent-color: #ECDFCC;

// General Colors
$black: #000;
$black-almost: #171111;
$burgundy: #421C27;
$gray: #7E7E7E;
$gray-dark: #333;
$gray-light: #F4F4F4;
$gray-very-light: #F3F3F3;
$green-bright: #2BFD01;
$plum: #8F4657;
$red: #A71836;
$sage: #697565;
$salmon: #F2A6A1;
$salmon-dark: #DD4746;
$silver: #C0C0C0;
$white: #FFF;
$yellow: #FFE15B;